<div class="players_links">
    <a href="https://soundcloud.com/luizalian" class="player-icon sc-icon" alt="Soundcloud" target="_blank">Soundcloud</a>
    <a href="https://www.youtube.com/playlist?list=PLm8ISRwZVCAOxav1tHjRT_Z-vWQBLBuWM" class="player-icon yt-icon" alt="Youtube"
        target="_blank">Youtube</a>
    <a href="https://open.spotify.com/album/3ocMFmdWIfjrfNdHVFQ41I" class="player-icon spot-icon" alt="Spotify" target="_blank">Spotify</a>
</div>
<button class="buy_link"><a href="">COMPRAR</a></button>