{{ $pwd := .password | default "secret" }}

<style id="deny-wall">
    html { background-color: #fff !important; }
    html::after {
        content: '** ACCESS DENIED **';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
        font-family: monospace;
    }
</style>

<script>
    function parseQS(querystring) {
        // Has parameters? if none, return early
        let paramsIdx = querystring.indexOf('?');
        if (paramsIdx === -1) return []

        // remove any preceding url and split
        querystring = querystring.substring(paramsIdx + 1).split('&');

        const d = decodeURIComponent;
        let params = {};

        // march and parse
        for (var i = querystring.length - 1; i >= 0; i--) {
            let pair = querystring[i].split('=');
            params[d(pair[0])] = d(pair[1] || '');
        }

        return params
    }

    function removeWall(){
        let css_wall = document.head.querySelector('#deny-wall');
        css_wall.remove();
    }

    /**
     * Deface traditional javascript methods
     */
    function defaceJavascript() {
        function denied() { throw new Error("Access denied."); }
        window.fetch = denied;
        window.XMLHttpRequest = denied;
        document.write = denied;
        Node.prototype.appendChild =
            Node.prototype.insertBefore =
            Node.prototype.removeChild =
            Node.prototype.replaceChild = denied;
    }

    // Parse argv options for secret
    var argv = parseQS(location.toString());
    var pwd = (argv.secret ? argv.secret : window.prompt("This area is protected. Whats the secret word?"));

    if (pwd !== "{{$pwd}}") {
        defaceJavascript();
    } else {
        removeWall();
    }
</script>