{{ $resources := .Page.Resources }}
{{ $poster := "text_poster" }}
{{ $movie  := "text_movie" }}

<div id="screen" class="screen hidden">
    <div id="videoclip">
        <!-- Youtube embed dynamically goes here -->
    </div>
</div>
{{ $video_url := (default "" .Page.Params.video ) }}
<a id="poster" class="spotlight" href="{{$video_url}}" onclick="return false;">
    {{ if .Page.Resources.GetMatch $movie }}
    <video autoplay playsinline muted loop preload
    onloadeddata="document.dispatchEvent(new Event('posterPreloaded'))"  
        poster='{{ partial "resource_path" (dict "resources" $resources "name" $poster) }}'>
        <source src='{{ partial "resource_path" (dict "resources" $resources "name" $movie) }}' />
    </video>
    <div class="logo" title="Aperte para ver o clipe">{{ .Title }}</div>
    {{ end }}
</a>
<!-- Video metadata -->
<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "VideoObject",
      "name": "{{ .Page.Title }}",
      "description": "{{ .Page.Description }}",
      "thumbnailUrl": "{{ partial "resource_path" (dict "resources" $resources "name" $poster) }}",
      "uploadDate": "{{ .Page.Date }}",
      "publisher": {
        "@type": "Organization",
        "name": "Selo Risco",
        "logo": {
          "@type": "ImageObject",
          "url": "https://luizalian.com.br/images/selo_risco.png",
          "width": 32,
          "height": 32
        }
      },
      "embedUrl": "{{ .Page.Params.album_embed }}",
    }
</script>
    