<!doctype html>
<html lang="en">
  <head>
    <title>{{ .Title }}</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="{{ plainify .Params.subtitle }}{{ plainify .Description }}">

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/favicon.ico">

    {{ $gid := (default "" .Site.Params.uid ) }}

    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ if .Description }}{{ plainify .Description }}{{ else }}{{if .IsPage}}{{ plainify .Summary }}{{ end }}{{ end }}" />
    <meta name="gid" content="{{ $gid }}" /> 

    <script src="/js/utils.js"></script>
    {{ block "above_fold" . }}{{ end }} 
  </head>  
  <body>
    {{ partial "header.html" . }}

    {{ $section := .Section | default "" }}
    <main id="page-trans-wrapper">
      <div id="page-container" class="page-container {{ $section }}">
        {{ block "main" .}}{{ end }}
      </div>
    </main>
    {{ partial "footer" . }} 

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ $gid }}"></script>
    <script>
        /** Setup Globals */
        window.cronometer = new window.Cronometer();
        window.domain = (location.origin.replace(/http(s):\/\//, ''));

        cronometer.tap('DOM_CONTENT_LOADED');
        
        // Analytics
        window.dataLayer = window.dataLayer || []
        function gtag(){ dataLayer.push(arguments); }

        gtag('js', new Date());
        gtag('config', "{{ $gid }}" );
    </script>
    {{ block "under_fold" . }} {{ end }}
  </body>
</html>
