@import "reset.css";
body {
	background: #000001; color: #fff; height: 9000px;
	
}

/* tipografia */
h1, h2 {
	text-align: center; font-weight: bold; font-family: "Liberation Sans", sans-serif}

/* fundos */
.cosmos, .crab-nebula, .pluto-rising, .cosmica-mulher, .galaxia{
	background-repeat: no-repeat; background-position: top center;  position: absolute; width: 100%;}

.cosmos {background-image: url(../img/bg-cosmo-0.gif); height: 4500px;
	}

.crab-nebula {
	height: 1400px;
	background-image: url(../img/crab-ani-90ccw.gif);
	top: 15px;
	opacity: 0.65;
	}

.pluto-rising {height: 496px; background-image: url(../img/pluto-chrome-ani-dark-web.gif); top: 1040px; opacity: 0.85; z-index: 2}
.cosmica-mulher {height: 510px; background-image: url(../img/mulher-cosmica-deitada-ani.gif); top: 1420px; }
.galaxia {height: 625px; background-image: url(../img/galaxia-hue-ani-625.gif); z-index: 1;top:900px;}