<!--alfa-->
<!doctype html>
<html>
<!--cabeça-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="">
<meta name="robot" content="index,follow">
<meta name="author" content="rafaeltrabasso.com">
<!--mobile-->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--favicon-->
<link rel="apple-touch-icon" href="img/apple-icon-touch.png">
<link rel="icon" href="favicon.png">
<!--[if IE]>
<link rel="shortcut icon" href="favicon.ico">
<![endif]-->
<meta name="msapplication-TileColor" content="#f01d4f">
<meta name="msapplication-TileImage" content="img/win8-tile-icon.png">
<!--css-->
<link rel="stylesheet" type="text/css" href="css/site-bkp.css" />
<link href="css/featherlight.css" type="text/css" rel="stylesheet" title="Featherlight Styles" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- título -->
<title>oyá_tempo _ luiza_lian</title>
</head>

<!--corpo-->
<body>

<div class="cellphones-message"><h1>Veja esse site no computador ou ipad</h1></div>

<ul class="menu">
	<li class="simbolo"><img src="img/logo-topo.png"></li>
	<li class="titulo">oy&aacute;<br/>_tempo<br/>luiza_<br/>lian</li>
	<li><a href="#" data-featherlight="#letras">letras</a></li>
	<li><a href="https://lianluiza.bandcamp.com/album/oya-tempo?action=download&from=embed" target="_blank">download</a></li>
	<li><a href="#" data-featherlight="#filme">filme_</a></li>
	<li><a href="#" data-featherlight="#release">_release</a></li>
	<li><a href="#" data-featherlight="#fichatecnica">ficha_t&eacute;cnica</a></li>
	<li><a href="#" data-featherlight="#contato">contato</a></li>
</ul>

	<section class="player">
		<a href="#" target="_blank" id="trackname"><pre></pre></a>
		<div class="description"><pre></pre></div>

		<div class="controls">
			<i id="prev-btn" class="material-icons transparent">skip_previous</i>
			<i id="play-btn" class="material-icons transparent">play_circle_outline</i>
			<i id="next-btn" class="material-icons transparent">skip_next</i>

		</div>

		<div id="sc-embed">
			<iframe width="300" height="300" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/270115061%3Fsecret_token%3Ds-WUZIl&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
		</div>
	</section>

	<!-- cosmos -->
	<section class="cosmos">

		<!-- espaço sideral, dito vácuo, vastidão -->
		<div class="crab-nebula"></div>
		<div class="pluto-rising"></div>
		<div class="galaxia"></div>
		<div class="cosmica-mulher"></div>

		<!-- cidade de são paulo -->
		<div id="gradient-zero"></div>
		<div id="skyline"></div>
		<div id="sky-clouds"></div>
		<div class="gradiente"></div>
		<div class="landlines"></div>

		<!-- jardim de esculturas -->
		<div class="garden">
			<div class="moira"></div>
			<div class="statuagemini"></div>
			<div class="statua1"></div>
			<div class="statua4"></div>
			<div class="broken_torso"></div>
			<div class="jaw"></div>
			<div class="statuaface"></div>
			<div class="luazul"></div>
		</div>

		<!-- tempestade -->
		<div id="crouds"></div>
		<div class="raios">
			<div id="nuvens-atras"></div>
			<div class="raio" id="um"></div>
			<div class="raio" id="dois"></div>
			<div class="raio" id="tres"></div>
			<div class="raio" id="quatro"></div>
			<div class="raio" id="cinco"></div>
		</div>

		<!-- a mãe -->
		<div class="mar"></div>
		<div class="mar-ampl"></div>
		<div class="cell-message">
			<p>Abra esse site em um computador ou tablet e tenha a experiência completa. Menu:</p>
			<ul class="cell-menu">
				<li><a href="#" data-featherlight="#letras">letras</a></li>
				<li><a href="https://lianluiza.bandcamp.com/album/oya-tempo?action=download&from=embed" target="_blank">download</a></li>
				<li><a href="#" data-featherlight="#filme">filme_</a></li>
				<li><a href="#" data-featherlight="#release">_release</a></li>
				<li><a href="#" data-featherlight="#fichatecnica">ficha_t&eacute;cnica</a></li>
				<li><a href="#" data-featherlight="#contato">contato</a></li>
			</ul>
		</div>
		<div class="mar-ampl-rev"></div>
		<div class="mar-ampl-rev-blue"></div>
		<div class="mar-ampl-rev-blue fade1"></div>
		<div class="mar-ampl-rev-blue fade2"></div>

		<!-- deeeeeeep -->
		<div class="deep">
		<div id="dark"></div>
		<div id="dark-dots"></div>
		<div id="dark-j"></div>
		<div id="dark-dots-2"></div>
			<div class="moon-jelly"></div>
			<div class="jelly-mater"></div>
			<div class="jellyfish"></div>
			<div class="moon-jello"></div>
		<div>

		<!-- underdark -->
		<div class="underdark">
		<div id="dust-under-1"></div>
		<div id="dust-under-2"></div>
		<div id="dust-under-3"></div>
		<div id="dust-under-4"></div>
		<div class="landlines-deep">
		<div class="paragorgia"></div>
		<div id="greenshroom"></div>
		<div class="space-algae"></div>
			<div class="bigrock"></div>
			<div class="venus-w"></div>
			<div class="mono-um"></div>
			<div class="mono-dois"></div>
			<div class="mono-tres"></div>
			<div class="mono-quatro"></div>
			<div class="vagveg"></div>
		</div></div>

	</section>

<!-- janelas -->

<div id="janelas">

	<div id="letras" class="janela">
	<h2 dir="ltr">Tucum</h2>
	<h3>Luiza Lian</h3>
	<p>Conte quantas pedras que tu joga no Astral</p>
	<p>Eu vim, eu vim </p>
	<p>te mostrar seu pr&oacute;prio mal</p>
	<p>No momento adequado que o destino escolher</p>
	<p>Eu vou mostrar</p>
	<p>O que tu planta vai colher</p>
	<p>Aten&ccedil;&atilde;o no pensamento muito antes de falar</p>
	<p>Voc&ecirc; vai ver</p>
	<p>Vai colher o que plantar</p>
	<p>A Justi&ccedil;a &eacute; um Deus que o Tempo vem mostrar</p>
	<p>O nome dela </p>
	<p>n&atilde;o se usa pra vingar</p>
	<p>A Justi&ccedil;a &eacute; um Deus que o Tempo vem mostrar</p>
	<p>O nome dela </p>
	<p>n&atilde;o se usa pra vingar</p>
	<p>A Justi&ccedil;a &eacute; um Deus que o Tempo vem mostrar</p>
	<p>O nome dela </p>
	<p>n&atilde;o se usa pra vingar</p>
	<p>&nbsp;</p>

	<h2>Tem Luz</h2>
	<h3>(&uacute;mido V)</h3>

	<p>Viajar por uma estrada e longe confundir</p>
	<p>As casas espalhadas nos morros com estrelas</p>
	<p>&Eacute; perder o c&eacute;u</p>
	<p>(Perder a verticalidade)</p>
	<p>&nbsp;</p>
	<p>Tem luz</p>
	<p>Mas n&atilde;o &eacute; o mist&eacute;rio</p>
	<p>Tem luz</p>
	<p>Mas n&atilde;o &eacute; a fonte</p>
	<p>reluz</p>
	<p>Mas n&atilde;o &eacute; a Luz</p>
	<p>&nbsp;</p>
	<p>a cidade verticaliza</p>
	<p>A referencia horizontaliza</p>
	<p>Horizontal por que um plano chapado na minha frente &nbsp;</p>
	<p>desenha uma paisagem </p>
	<p>Bidimensional</p>
	<p>&nbsp;</p>
	<p>E n&atilde;o d&aacute; perspectiva para mirar o mist&eacute;rio</p>
	<p>&nbsp;</p>
	<p>Tem &nbsp;luz...</p>
	<p>&nbsp;</p>
	<p>Um encosto &eacute;:</p>
	<p>Uma vida sem vivente,</p>
	<p>Um movimento sem Fonte</p>
	<p>Pregando o tempo,</p>
	<p>Tilt, loop, fragmento.</p>
	<p>Foi fonte de um sentimento atravessado </p>
	<p>Ou amoroso</p>
	<p>Mas uma obsess&atilde;o</p>
	<p>Que pega carona num corpo desavisado</p>
	<p>Aonde espelha sua fonte cria&ccedil;&atilde;o</p>
	<p>&nbsp;</p>
	<p>Tem luz...</p>
	<p>&nbsp;</p>

	<h2>Oy&aacute;</h2>
	<h3>Luiza Lian</h3>
	<p>No alto da montanha eu vejo um vendaval</p>
	<p>Preparo a minha casa para um temporal</p>
	<p>Depois dessa tormenta eu vou me encontrar</p>
	<p>A minha M&atilde;e me chama para balan&ccedil;ar</p>
	<p>&nbsp;</p>
	<p>A minha M&atilde;e me chama para balan&ccedil;ar</p>
	<p>A minha M&atilde;e me chama para balan&ccedil;ar</p>
	<p>A minha M&atilde;e me chama para balan&ccedil;ar</p>
	<p>A minha M&atilde;e me chama para balan&ccedil;ar</p>
	<p>&nbsp;</p>
	<p>Oy&aacute;, Rainha do ar</p>
	<p>Protege os seus filhos</p>
	<p>Os que est&atilde;o a guerrear</p>
	<p>Rainha da Tempestade</p>
	<p>No seu clar&atilde;o</p>
	<p>Me mostra a verdade</p>
	<p>&nbsp;</p>

	<h2>Flash (&uacute;mido IV)</h2>
	<h3>Luiza Lian</h3>

	<p>Rouba minha alma num flash</p>
	<p>N&atilde;o &eacute; um flash</p>
	<p>Rouba minha alma num bot&atilde;o</p>
	<p>N&atilde;o &eacute; um bot&atilde;o</p>
	<p>Rouba minha alma no espelho</p>
	<p>N&atilde;o &eacute; o espelho</p>
	<p>Gesto congelado</p>
	<p>Fantasma de si mesmo</p>
	<p>Montagem</p>
	<p>Viagem que se vive para um registro</p>
	<p>reproduz a vida, mas, de uma fonte finita</p>

	<p>olha pra coisas como se fossem suas</p>
	<p>e olha pras coisas como se fossem suas</p>
	<p>olha pra coisas como se fossem suas</p>
	<p>e olha pras coisas como se fossem suas</p>
	<p>&nbsp;</p>

	<h2>Cadeira</h2>
	<h3>Luiza Lian</h3>
	<p>A cadeira estava sem as pernas sentada no ch&atilde;o, no centro da sala. </p>
	<p>As partes formavam uma cruz </p>
	<p>a cor era nost&aacute;lgica</p>
	<p>dava sentido pra dan&ccedil;a da poeira at&eacute; grudar na janela.</p>
	<p>&nbsp;</p>
	<p>(precisava de circula&ccedil;&atilde;o)</p>
	<p>&nbsp;</p>
	<p>Rastros de um desmanche, mancha dos objetos no ch&atilde;o!</p>
	<p>Rastros de um desmanche, mancha dos objetos no ch&atilde;o!</p>
	<p>&nbsp;</p>
	<p>No vidro n&atilde;o tinham desenhos, mas tinham digitais</p>
	<p>No vidro n&atilde;o eram desenhos, eram digitais</p>
	<p>No meu ouvido ela gritava:</p>
	<p>&nbsp;</p>
	<p>- Baby, Baby... Eu sei que tudo morre, que tudo acaba, que a morte faz um risco na retina como a faca de Bu&ntilde;uel. E Os olhos se regeneram mas o trauma do corte refaz seu movimento num eco fantasma.</p>
	<p>&nbsp;</p>
	<p>Olhe para este ponto, &nbsp;fure aqui. </p>
	<p>Amorte&ccedil;a esse desenho, corte aqui. </p>
	<p>- Quero dar um Reload, uma turbinada</p>
	<p>Olhe para esse ponto, amorte&ccedil;a meu desejo...</p>
	<p>Pra uma cicatriza&ccedil;&atilde;o perfeita e o disfarce completo da cirurgia</p>
	<p>&nbsp;</p>
	<p>Mas &eacute; pl&aacute;stico, &eacute; uma enrascada!</p>
	<p>&nbsp;</p>
	<p>O sorriso &eacute; pr&aacute;tico. A mulher diz &ldquo;Vai com Deus&rdquo;, Deus n&atilde;o t&aacute; al&iacute;.</p>
	<p>&nbsp;</p>
	<p>o sorriso era hist&eacute;rico e aquela delicadeza escondia uma viol&ecirc;ncia mort&iacute;fera que envenenava o vento</p>
	<p>&nbsp;</p>
	<p>Eles diziam; vamos n&oacute;s ao vosso Reino</p>
	<p>(numa constru&ccedil;&atilde;o ambiciosa) </p>
	<p>Eles diziam: seja feita a vossa vontade</p>
	<p>(na frente do espelho)</p>
	<p>&nbsp;</p>
	<p>Com o altar queimado</p>
	<p> e o olhar em cruz:</p>
	<p>C&eacute;u/Inferno/Morte/Sul</p>
	<p>(olho pra cima, olho pra baixo, olho pro lado, olho pra frente)</p>
	<p>C&eacute;u/Inferno/Morte/Sul</p>
	<p>&nbsp;</p>
	<p>E as doen&ccedil;as tantas que as flechas de Miguel vinham com insights alop&aacute;ticos</p>
	<p>Os colapsos eram pessoais, mas manchavam a paisagem.</p>
	<p>&nbsp;</p>
	<p>a paisagem era bela</p>
	<p>&nbsp;</p>
	<p>Algu&eacute;m gritava:</p>
	<p>&nbsp;</p>
	<p>&ldquo;mata-me de desejo&rdquo;</p>
	<p>&nbsp;</p>
	<p>o sexo que era estranho</p>
	<p>&nbsp;</p>
	<p>&ldquo;mata-me de desejo&rdquo;</p>
	<p>&nbsp;</p>
	<p>o menino &eacute; real</p>
	<p>&nbsp;</p>
	<p>&ldquo;mata-me de desejo&rdquo;</p>
	<p>&nbsp;</p>
	<p>a faca era decepcionante</p>
	<p>&nbsp;</p>
	<p>&ldquo;mata-me de desejo&rdquo;</p>
	<p>&nbsp;</p>
	<p>o sorriso era hist&eacute;rico</p>
	<p>&nbsp;</p>
	<p>&ldquo;mata-me de desejo&rdquo;</p>
	<p>&nbsp;</p>
	<p>e uma morte graciosa</p>
	<p>&nbsp;</p>
	<p>havia um brilho no microsc&oacute;pio do seu olhar.</p>
	<p>&nbsp;</p>

	<h2>P&oacute; de ouro</h2>
	<h3>Luiza Lian</h3>
	<p>O que eu tenho pra voc&ecirc; &eacute; um presente</p>
	<p>&nbsp;</p>
	<p>O que eu tenho pra voc&ecirc; &eacute; um presente</p>
	<p>&nbsp;</p>
	<p>N&atilde;o &eacute; dor, n&atilde;o &eacute; dor n&atilde;o</p>
	<p>&nbsp;</p>
	<p>O que eu tenho pra voc&ecirc; &eacute; uma semente&nbsp;</p>
	<p>&nbsp;</p>
	<p>O que eu tenho pra voc&ecirc; &eacute; uma semente</p>
	<p>&nbsp;</p>
	<p>N&atilde;o &eacute; cruz, n&atilde;o &eacute; cruz n&atilde;o</p>
	<p><br /><br /></p>
	<p>Caboclas, caboclinhas</p>
	<p>&nbsp;</p>
	<p>Das profundezas do mar</p>
	<p>&nbsp;</p>
	<p>Caboclos, Caboclas</p>
	<p>&nbsp;</p>
	<p>Da raiz do jurem&aacute;</p>
	<p>&nbsp;</p>
	<p>Teu canto caboclo</p>
	<p>&nbsp;</p>
	<p>Que me leva a viajar,&nbsp;</p>
	<p>&nbsp;</p>
	<p>T&atilde;o dentro em meu corpo</p>
	<p>&nbsp;</p>
	<p>Cada n&oacute; eu desatar</p>
	<p>&nbsp;</p>
	<p>Cada n&oacute; eu desatar</p>
	<p>&nbsp;</p>
	<p>eu transformo&nbsp;p&oacute;&nbsp;em&nbsp;ouro</p>
	<p>&nbsp;</p>
	<p>Toda doen&ccedil;a curar</p>
	<p>&nbsp;</p>
	<p>Eu retorno ao&nbsp;p&oacute;&nbsp;de novo</p>
	<p>&nbsp;</p>
	<p>Para eu nascer de novo</p>
	<p>&nbsp;</p>
	<p>Para ent&atilde;o nascer de novo</p>
	<p>&nbsp;</p>
	<p>E mais alto caminhar com a estrela guia em meu escopo</p>
	<p>&nbsp;</p>
	<p>E mais alto caminhar com a estrela guia em meu futuro</p>
	<p>&nbsp;</p>
	<p>E mais alto caminhar com a estrela guia em meu corpo</p>
	<p>&nbsp;</p>
	<p>E mais alto caminhar com a estrela guia em meu escudo</p>
	<p>&nbsp;</p>


	<h2>Manada </h2>
	<h3>G&ecirc; Marques</h3>
	<p>Perguntei ao marinheiro o que ele tem pra me ensinar</p>
	<p>Ele me respondeu &lsquo;no balan&ccedil;o do meu barco eu ensino a equilibrar&rsquo;</p>
	<p>&nbsp;</p>
	<p>Perguntei ao meu baiano o que ele tem pra dividir</p>
	<p>Ele me respondeu &lsquo;seguindo o meu gingado se aprende a n&atilde;o cair&rsquo;</p>
	<p>&nbsp;</p>
	<p>Perguntei ao Boiadeiro qual a minha dire&ccedil;&atilde;o</p>
	<p>&lsquo;sempre andando com a manada n&atilde;o se pode olhar o ch&atilde;o&rsquo;</p>
	<p>&nbsp;</p>
	<p>Perguntei ao Boiadeiro qual a minha dire&ccedil;&atilde;o</p>
	<p>&lsquo;sempre andando com a manada n&atilde;o se pode olhar o ch&atilde;o&rsquo;</p>
	<p>&nbsp;</p>


	<h2>&Eacute; nela que se mora? </h2>
	<h3>Luiza Lian / Moita Carvalho</h3>
	<p>&Eacute; essa estrada que ensina?</p>
	<p>Nela que se caminha ?</p>
	<p>&Eacute; nela que se mora?</p>
	<p>&Eacute; nela que se mora?</p>
	<p>Na beira tem &aacute;gua cristalina?</p>
	<p>Ser&aacute; que na estrada tem algu&eacute;m agora?</p>
	<p>Seu fluxo &eacute; um rio que me destina</p>
	<p>Ou resultado de gente que chora</p>
	<p>Por toda gal&aacute;xia</p>
	<p>Longe daqui?</p>
	<p>Longe daqui... </p>
	<p>&Eacute; nela que se mora?</p>
	<p>&Eacute; nela que se mora?</p>
	<p>Nessa estrada, essa estrada</p>
	<p>Ser&aacute; que essa estrada que vai me libertar?</p>
	<p><br /><br /></p>
	<p>De um canto do universo verso a vida.</p>
	<p>O sentido?</p>
	<p>De ida.</p>
	<p>O antidoto?</p>
	<p>Batida.</p>
	<p>Ritmo de chegada e partida constante,</p>
	<p>Ensina a n&atilde;o prender quem aprender </p>
	<p>e partir.</p>
	<p>os instantes repartir,</p>
	<p>a Vida &eacute; a partir daqui.</p>
	<p>sempre agora, sem demora.</p>
	<p>o destino da estrada &eacute; o caminhar,</p>
	<p>conforme aguas passam entre n&oacute;s refor&ccedil;am os la&ccedil;os.</p>
	<p>miss&atilde;o eu mesmo fa&ccedil;o</p>
	<p>na cadencia do meu passo,</p>
	<p>na sequencia do compasso da can&ccedil;&atilde;o.</p>
	<p>vou al&eacute;m da intui&ccedil;&atilde;o.</p>
	<p>Aten&ccedil;&atilde;o:</p>
	<p>A vida em c&oacute;digos...</p>
	<p>Sinais.</p>
	<p>Trabalho &iacute;ndigo:</p>
	<p>Polir Cristais.</p>
	<p>E aos nossos ancestrais, o dever de honrar a trama</p>
	<p>de quem foi buscar o Ouro em meio a lama</p>
	<p>e hoje clama pra sermos livres.</p>
	<p>A liberdade &eacute; a estrada, afinal,</p>
	<p>A gente a vive ao caminhar,</p>
	<p>N&atilde;o existe um final.</p>
	<p>Quando chega</p>
	<p>Recome&ccedil;a.</p>
	<p>Quebra- Cabe&ccedil;a de infinitas pe&ccedil;as...</p>
	<p>E por mais que pe&ccedil;as alegrias,</p>
	<p>L&aacute;grimas tamb&eacute;m fazem fluir o Rio da Vida.</p>
	<p>Do Amor n&atilde;o se duvida.</p>
	<p>Por isso, mesmo chorando</p>
	<p>Sorria.</p>
	</div>


	<div id="filme" class="janela">
	<iframe src="https://www.youtube.com/embed/CqXM3uwklF8?ecver=1" frameborder="0" allowfullscreen></iframe>
	<h2>SINOPSIS:</h2>
	<p>Uma travessia tempestuosa leva ao encontro de uma força feminina escondida na natureza.</p>
	<h2>FICHA T&Eacute;CNICA:</h2>
	<ul>
	<li>Elenco: , Luiza Lian, Nina Oliveira, Digg&atilde;o</li>
	<li>Produ&ccedil;&atilde;o: Filmes da Diaba</li>
	<li>Realiza&ccedil;&atilde;o: Camila Maluhy e Oct&aacute;vio Tavares</li>
	<li>Assistente de Dire&ccedil;&atilde;o: Mariana de Mello</li>
	<li>Assistente de Fotografia: Bruno Moya e Cain&atilde; Vidor</li>
	<li>Figurino: Marina Dalgalarrondo</li>
	<li>Figurino Luiza Lian: Gabi Cherubini</li>
	<li>Maquiagem Luiza Lian: Leon Gurfein</li>
	<li>Montagem: Renata Miranda, Camila Maluhy e Octávio Tavares</li>
	<li>Edição de Som: Charles Tixier e Filmes da Diaba</li>
	<li>Mixagem e Masterização: Gui Jesus Toledo</li>
	</ul>
	</div>

	<div id="release" class="janela">
		<h1>Luiza Lian lan&ccedil;a o &aacute;lbum-visual Oy&aacute; Tempo</h1>

		<img src="img/release01.jpg" alt="Luiza Lian">

	<p dir="ltr"><span>A cantora e compositora Luiza Lian lan&ccedil;a pelo selo RISCO, o </span><span>&aacute;lbum visual</span><span> Oy&aacute; Tempo. O trabalho contempla al&eacute;m das composi&ccedil;&otilde;es in&eacute;ditas, um filme m&eacute;dia metragem e um site. As faixas ecoam como trilha sonora do filme e a obra se completa com a experi&ecirc;ncia visual de navegar pelo site.</span></p>
	<p dir="ltr"><span>Produzido por Charles Tixier (Charlie e os Marretas/Holger), o &aacute;lbum foi concebido a partir de duas vertentes: as composi&ccedil;&otilde;es/c&acirc;nticos umband&iacute;sticos da cantora e sua incurs&atilde;o pelo mundo do &ldquo;spoken word&rdquo;. Envolto de uma atmosfera eletr&ocirc;nica, Oy&aacute; Tempo busca atualizar a ponte tradi&ccedil;&atilde;o/contemporaneidade. Sampleia e distorce m&uacute;sicas tradicionais, estabelece um trip-hop em di&aacute;logo direto com a m&uacute;sica brasileira, mescla espiritualidade e vida em um funk desconstru&iacute;do e aprofunda o encontro sonoro entre metr&oacute;pole e ra&iacute;z.</span></p>
	<p dir="ltr"><span>O filme, rodado em uma cidade litor&acirc;nea, retrata numa atmosfera sombria o encontro e a rela&ccedil;&atilde;o de um jovem casal, representados pela cantora de Nina Oliveira e o rapper Digg&atilde;o (Rodrigo S.). Dirigido por Camila Maluhy e Oct&aacute;vio Tavares, &eacute; o trabalho de estr&eacute;ia da produtora independente Diaba.</span></p>
	<p dir="ltr"><span>O site, concebido pelo artista visual Dedos (Rafael Trabasso), cria uma nova experi&ecirc;ncia est&eacute;tica para a escuta do &aacute;lbum. Ao navegar pelo site, o ouvinte tem uma nova narrativa visual, um novo caminho para a aprecia&ccedil;&atilde;o da obra.</span></p>
	<p dir="ltr"><span>Oy&aacute; Tempo &eacute; a representa&ccedil;&atilde;o da encruzilhada das cidades, o cruzamento de nossas m&uacute;ltiplas ancestralidades com os ventos globais que caracterizam esta &eacute;poca. Por meio deste experimento audiovisual, a artista anuncia um novo movimento, um mergulho intimista, no qual se revela sua verdadeira identidade.</span></p>
	<p><span>&nbsp;</span></p>

		<img src="img/release02.jpg" alt="Luiza Lian">
		<img src="img/release04.jpg" alt="Luiza Lian">
		<img src="img/release05.jpg" alt="Luiza Lian">
		<img src="img/release03.jpg" alt="Luiza Lian">
	</div>

	<div id="fichatecnica" class="janela">

		<picture>
			<img src="img/logos/luilian-oya-384.png" alt="Lui Lian - Oyá Tempo">
		</picture>


		<div class="fichatecnica">
			<h2>FICHA TÉCNICA</h2>
			<ul>
				<li>Direção Artística : Luiza Lian </li>
				<li>Produção Musical: Charles Tixier </li>
				<li>Mixagem e Masterização: Gui Jesus Toledo </li>
				<li>Produção Executiva: João Bagdadi </li>
				<li>Site: Rafael Trabasso (<a href="http://dedos.info">dedos</a>) </li>
				<li>Finalização site: Vitor Calejuri</li>
				<li>Filme: Camila Maluhy e Octávio Tavares (<a href="https://www.facebook.com/filmesdadiaba">Filmes da Diaba</a>) </li>
				<li>Identidade Visual: Maria Cau Levy (<a href="http://gomaoficina.com">Goma Oficina</a>) </li>
				<li>Assistente identidade visual: Christian Salmeron </li>
				<li>Fotos de divulgação: Filmes da Diaba e Bruno Moya </li>
				<li>Figurino: Gabi Cherubini </li>
				<li>Maquiagem: Leon Gurfein </li>
				<li>Performance: Luiza Lian, Bianca Turner e Sonia Costa </li>
				<li>Participações: Moita Carvalho (vocais em "É Nela Que se Mora?") / Gabriel Milliet (sax baritono em "Pó de Ouro") </li>
				<li>Composição: Luiza Lian exceto - "É Nela Que se Mora?" (Luiza Lian e Moita Carvalho) - "Manada" (Gê Marques)  </li>
				<li>Selo: <a href="http://www.selorisco.com/">RISCO</a>
		</div>

		<h2>PARCEIROS</h2>
		<ul class="parceiros galeria-horizontal">
			<li><a href="http://www.selorisco.com"><img src="img/logos/risco.png" alt="Selo Risco"></a></li>
			<li><a href="http://gomaoficina.com"><img src="img/logos/goma.jpg" alt="Oficina Goma"></a></li>
			<li><a href="https://www.facebook.com/filmesdadiaba"><img src="img/logos/diaba.png" alt="Filmes da Diaba"></a></li>
			<li><a href="http://dedos.info"><img src="img/logos/dedos.png" alt=""></a></li>
		</ul>
	</ul>

	<div id="contato" class="janela">
	<h2>Contato para Show</h2>

	<p>Jo&atilde;o Bagdadi</p>
	<p class="email">joao@selorisco.com</p>

	<h2>Imprensa</h2>
	<p>Francine Ramos</p>
	<p class="fone">(11) 98839.9735</p>
	<p class="email">franfranramos@gmail.com</p>

	<p>_</p>

	<p class="email">luizalianshow@gmail.com</p>
	</div>

	<div id="bio" class="janela">
	</div>

</div>

<!-- JS -->
<script src="js/jquery.js" type="text/javascript"></script>
<script src="js/jquery.spritely.js" type="text/javascript"></script>
<script src="js/featherlight.js" type="text/javascript" charset="utf-8"></script>
<script src="js/typewriter-bundle.min.js"></script>
<script src="js/lui.player.js"></script>
<script src="https://w.soundcloud.com/player/api.js"></script>
<script>
window.addEventListener('load', function(){
	try {
		var loadTime = window.performance.timing.domContentLoadedEventEnd- window.performance.timing.navigationStart;
		console.log("Page loading time: " + loadTime + "ms");
	} catch (e){}

	cellphonemessage()
	animate()

	window.LuiPlayer = new LuiPlayer('.player');
	window.LuiPlayer.run()
})

function animate(){
	$('#skyline').pan({fps: 24, speed: 1.2, dir: 'left'});
	$('#sky-clouds').pan({fps: 24, speed: 0.3, dir: 'right'});
	$('#gradient-zero').pan({fps: 30, speed: 0.5, dir: 'left'});
	$('#crouds').pan({fps: 24, speed: 0.45, dir: 'right'});
	$('#nuvens-atras').pan({fps: 24, speed: 0.25, dir: 'left'});
	$('#dark').pan({fps: 24, speed: 0.55, dir: 'right'});
	$('#dark-dots').pan({fps: 24, speed: 0.8, dir: 'left'});
	$('#dark-j').pan({fps: 24, speed: 0.33, dir: 'left'});
	$('#dark-dots-2').pan({fps: 24, speed: 0.5, dir: 'right'});
	$('#greenshroom').pan({fps: 24, speed: 0.5, dir: 'right'});
	$('#dust-under-1').pan({fps: 24, speed: 0.34, dir: 'left'});
	$('#dust-under-2').pan({fps: 24, speed: 0.66, dir: 'right'});
	$('#dust-under-3').pan({fps: 24, speed: 0.5, dir: 'left'});
	$('#dust-under-4').pan({fps: 24, speed: 0.7, dir: 'right'});
}

function cellphonemessage(){
	var clickOrTouch = ((document.ontouchstart==null) ? 'click' : 'touchstart');

	var el = document.querySelector('.cellphones-message')
	el.addEventListener(clickOrTouch, function(ev){
		console.log("hide cellphone message");
		el.className = "cellphones-message hidden"
	})
}
</script>
</body>
<!--omega-->
</html>