/**
 * Icons
 */
 .player-icon, .social-icon {
    display: block;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    -webkit-mask-size: contain;
    width: 32px;
    height: 32px;
    background-color: var(--fg);
 }
.fb-icon { mask-image: url('/images/fb_icon.svg'); }
.insta-icon { mask-image: url('/images/insta_circle_icon2.svg'); }
.sc-icon { mask-image: url('/images/sc_icon.svg'); }
.yt-icon { mask-image: url('/images/yt_icon.svg'); }
.spot-icon { mask-image: url('/images/spot_icon.svg');  }
.risco-icon { mask-image: url('/images/logo_risco.png'); }