/**
 * Stylesheet
 *  + Variables
 *  + Fonts
 *  + Animations
 *  + Icons
 *  + Document
 *  + header
 *  + Footer
 *  + Album Theather
        ----- (page1)
        + screen (videoclip)
        + #poster (mask)
        ----- (page2)
        + info
    + .Page
 */
*, *::before, *::after { box-sizing: border-box; } 
:root {
    --fg: #0c0c0c;
    --bg: #efefef;
    --color-primary: #ff0964;
    --footer-color: transparent;

    --header-height: 48px;
    --viewport_height: 200%;
    --info_display: "grid";

    --black: #3E3E3E;
    --cashmere: #D8D8D8;
    --rosa: #dfd1b6;
    --bege: #DE9A73;
    --bege2: #C4958A;

    --links: #0687f5;
    --blue-white: #92B7FF;
    --blue-light: #305db3;
    --blue-two: #0014ffd9;

    --pad: 16px;
    --pad-big: 32px;

    --blur-start: 30px;
    --blur-end: 0px;
    --z-start: 150px;
    --z-end: 0px;
    --perspective: 500px;

    --shadow-card: 0 1px 0 rgba(0, 0, 0, .16), 
                   0 2px 6px rgba(0, 0, 0, .07), 
                   0 10px 30px rgba(0, 0, 0, .49);

    --intro-time: 1300ms;
    --intro-delay: 300ms;

    --logo-time: 150ms;
    --easing: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

    /** Typography */
    --font: Univers;
    --typoscale: calc(5/4); /* Major third */
}
.hidden { opacity: 0 !important; pointer-events: none; }
.visible { opacity: 1 !important; pointer-events: all; }
.blurred { filter: blur(5px); }

@font-face {
    font-family: 'Univers';
    font-style: normal;
    font-weight: 400;
    src: local('Univers LT Std'), url(/fonts/UniversLTStd-Cn.woff) format('woff'),
         url('/fonts/UniversLTStd-Cn.ttf') format('ttf');
    font-display: swap; 
}
@font-face {
    font-family: 'Univers';
    font-style: normal;
    font-weight: bold;
    src: local('Univers LT Std-Bold'), url(/fonts/UniversLTStd-BoldCn.woff) format('woff'),
         url('/fonts/UniversLTStd-BoldCn.ttf') format('ttf');
    font-display: swap; 
}


@keyframes focusIn {
    from { filter: blur(var(--blur-start)); transform: translate3d(0,0,var(--z-start));}
    to { filter: blur(var(--blur-end)); transform: translate3d(0,0,var(--z-end)); }
}
@keyframes focusOut {
    from { filter: blur(var(--blur-end)); transform: translate3d(0,0,var(--z-end)); opacity: 1; }
    to { filter: blur(var(--blur-start)); transform: translate3d(0,0,calc( -1 * var(--z-start))); opacity: 0; }
    100% { visibility: hidden; }
}

@keyframes slideBottom {
    from { transform: translate3d(0,0,0); }
    to { transform: translate3d(0,100%,0); }
}

svg {
    fill: currentColor;
}

/**
 * Icons
 */
 .player-icon, .social-icon {
    display: block;
    text-indent: -99999px;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    -webkit-mask-size: contain;
    width: 32px;
    height: 32px;
    background-color: var(--fg);
 }
.fb-icon { mask-image: url('/images/fb_icon.svg'); }
.insta-icon { mask-image: url('/images/insta_circle_icon2.svg'); }
.sc-icon { mask-image: url('/images/sc_icon.svg'); }
.yt-icon { mask-image: url('/images/yt_icon.svg'); }
.spot-icon { mask-image: url('/images/spot_icon.svg');  }
.risco-icon { mask-image: url('/images/logo_risco.png'); }

/**
 * 
 */
a {
    color: var(--links);
}


/**
 * Generic classes
 */
 .outline {
    -webkit-text-stroke-color: var(--color-primary);
    -webkit-text-stroke-width: 1px;
    color: transparent;
 }
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 140px;
    overflow: hidden;
    color: inherit;
    border-radius: 5px;
    background-color: var(--bg);
    padding: 0rem;
    box-shadow: var(--shadow-card);
}

html {
    width: 100%;
    height: 100%;
    /*background: linear-gradient(90deg, #4753a9 30%, #32ab52 70%);*/
    background: var(--bg);
    margin: 0; padding: 0;
}
body {
    width: 100%; height: 100%; 
    margin: 0; padding: 0;
    color: var(--fg);
    background-color: var(--bg);
    font-size: 14px;
    font-family: var(--font);
    text-rendering: optimizeLegibility;

    /* Avoid x overflow, contents slide into view, not other way around */
    position: fixed;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch; /* iOS velocity scrolling */

    -webkit-perspective: var(--perspective);
    perspective: var(--perspective);
    perspective-origin: center center;

}
::selection {
    background-color: var(--blue-white);
    color: var(--black);
}

/**
 * Header/Nav
 */
#menu-toggle { display: none; }    
header.header {
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font);
    color: var(--fg );
    margin: 0;
    padding: 0 calc( var(--pad));
    position: absolute;
    top: 0px;
    z-index: 1000;
    background-color: transparent;
    transition-duration: 0.65s /* Shrink menu*/;
    transition-timing-function: var(--easing);

    & .wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & .logo-container {
            flex: 0.5;

            & .title {
                display: block;
                letter-spacing: 4px;
                font-size: 18px;
                text-transform: uppercase;
                text-decoration: none;
                font-family: var(--font);
                color: var(--fg);
            }        
        }
    
        & .label-toggle {
            cursor: pointer;
            display: block;
            float: right;
            height: 18px;
            width: 24px;
    
            background: linear-gradient(to bottom, 
                                            hsl(0, 0%, 20%) 0%, 
                                            hsl(0, 0%, 20%) 20%, 
                                            transparent 20%, 
                                            transparent 40%, 
                                            hsl(0, 0%, 20%) 40%, 
                                            hsl(0, 0%, 20%) 60%, 
                                            transparent 60%, 
                                            transparent 80%, 
                                            hsl(0, 0%, 20%) 80%, 
                                            hsl(0, 0%, 20%) 100%)
        }
    
    }

    /**
     * Where links are 
     */
    /*
    & nav.menu {
        top: 0;
        z-index: 1001;
        flex: 0.5;
        height: var(--header-height);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        right: calc( 2 * var(--pad-big)) /* Menu 
        font-size: 22px;

        & ul { list-style: none; display: flex; }
        & .sub-menu { display: none; }
        
        /* Menu 
        & .menu-header {
            position: relative;
            background-color: transparent;
    
            vertical-align: baseline;
            z-index: 10;
    
            font-family: inherit;
            font-size: calc( 1.00rem * var(--typoscale));
            font-weight: normal;
            text-align: center;
            text-transform: uppercase;
            color: inherit;
    
            padding: 1rem;
            margin-left: var(--pad-big);
            border: 0px solid transparent;
    
            /** Avoid last link to have a right margin, 
                making it container alignment easier 
            &:last-child { margin-right: 0; }        
        }

    }
    */
    & > nav.menu { 
        will-change: transform, opacity;
        position: absolute;  
        display: block;
        top: 0px;
        left: 0vw;
        width: 40vw;
        min-height: 100%;
        height: 100vh;
        z-index: 1500;
        transform: translateX(100vw);
        transition: all 750ms var(--easing);
        background-color: #fff;

        & a { width: 100%; display: block; }
        & > ul { list-style: none; margin: 0; padding: 0; display: block; }
        & > ul > li { display: block; }
        & > ul > li:first-child { padding: 0; }
        & > ul > li:first-child > a { 
            text-align: center;
            padding: calc( var(--pad) * 1.7);
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        /** First hierarchical menu item */
        & li.menu-header {
            padding: var(--pad) 0;
            margin-left: 0;
            color: #000;
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.1);

            &:last-child { border-bottom: 0; }

            & a { 
                text-decoration: none; 
                text-transform: uppercase; 
                text-align: center; 
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &#menu-albums {
                background-color: black;
                color: #fff;
            }
        }


        /** Second hierarchical menus */
        & ul.sub-menu {
            display: block; 
            list-style: none; margin: 0; padding: 0;
            font-size: 0.9rem;
            text-align: left;             

            & > li.menu-subheader {
                display: block; 
                padding: var(--pad) var(--pad-big); 
                border-bottom: 1px solid rgba(255,255,255,0.1);
                margin: 0 0;
            
                & a {
                    font-size: 1.1rem;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    
                    & .icon {
                        width: 32px;
                        height: 32px;
                        display: block;
                        margin: 0 auto;
                        overflow: hidden;
                        object-fit: contain;
                    }        

                    & > span {
                        flex: 0.8;
                        text-align: left;
                    }
                }
            }

        }
        
    }    

    /**
     * Horizontal states:
     * Collapsed, a minimal menu.
     *  Useful to give more area to videoclip
     */
     &.micro {
        position: absolute;
        transform: translateY( calc((var(--header-height) - 8px) * -1) );
        & + header.header {
            position: absolute;
            cursor: pointer;
            transform: translateY( calc((var(--header-height) - 8px) * -1) );
        }
     }
     &.offscreen {
        position: absolute;
        transform: translateY( calc(var(--header-height)  * -1) );
        & + header.header {
            position: absolute;
            cursor: auto;
            transform: translateY( calc(var(--header-height) * -1) );
        }
     }
}

/** Active offscreen nav menu */
#menu-toggle:checked ~ header.header {
    & > nav.menu {
        box-shadow: 0 0 50px rgba(0,0,0,0.3);
        transform: translateX(60vw);        
    }
}

/* Disable screen and poster click */
#menu-toggle:checked ~ .shadow { 
    opacity: 1; 
    pointer-events: all; 
    touch-action: all; 
}



/**
 * Footer
 */
#footer {
    position: absolute;
    width: 100%;
    height: 48px;
    bottom: 0;    
    background-color: var(--bg);
    border-top: 1px solid rgba(255,255,255,0.1);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--pad);

    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-duration: var(--intro-time);
    animation-name: slideBottom;
    animation-play-state: paused;


    /*animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);*/
    animation-timing-function: cubic-bezier(0.55, 0.06, 0.59, 0.83);

    &.collapsed {
        bottom: 48px;    
    }

    & .social_links {
        display: flex;
        width: 15%;
        align-items: center;
        justify-content: space-between;            
    }

    & .social-icon {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
    }
}

/**
 * Overlay
  DEPRECATED
 */
.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: 100;

    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.750ms var(--easing);
}


/**
 * Page container
 */
.page-trans-wrapper, .page-container {
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    overflow: overlay;
}


/**
 * Generic Page 
 */
body.page {
    & #footer {
        position: relative;
    }

    & .page-content {
        z-index: 0;
        width: 100%;
        min-height: calc( 100vh - var(--footer-height) );

        margin: 0 auto;
        padding: var(--pad-big);
    
        & > .page-title:first-of-type {
            margin-top: 0;
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            font-size: 8rem;
            margin-bottom: var(--pad-big);
            color: var(--color-primary);
        } 
    }
}

/*******************************************
     Album page
 *******************************************/

/**
 * Album page
 * Album Theather (album container)
 * @START_ALBUM
 */
.album-theater {
    z-index: 0;
    margin: 0 auto;
    height: var(--viewport_height);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.album-theater #poster {
    width: 50%;
    height: 25%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;

    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;

    /*
    animation-name: focusIn;
    */
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-play-state: paused;
    animation-duration: var(--intro-time);

    /*animation-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);*/
    animation-timing-function: cubic-bezier(0.55, 0.06, 0.59, 0.83);

    transform: translate3d(0,0,0) scale(1.0);
    /*
    transition: transform 400ms cubic-bezier(.10,1.28,.17,1.41);
    */

    & video {
        pointer-events: none; 
        width: 100%; 
        height: 100%;
        object-fit: contain;
        position: absolute;
    }


    & .logo {
        display: block;
        color: transparent;
        width: 100%;
        height: 100%;
        outline: none;
        
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        -webkit-tap-highlight-color: transparent;
        
        background-color: transparent; /*var(--bg)*/;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        margin: 0;
        opacity: 1;
        transform: translate3d(0,0,0) scale(1.03);
        text-indent: -9999px;
        
        &.interactive::before {
            content: ' ';
            opacity: 0;
            position: absolute;
            top: 0; left: 0;
            bottom: 0; right: 0;
            width: 100%; height: 100%;
            background: linear-gradient(0deg, var(--blue-light) 30%, #b6fcff 70%);
            mix-blend-mode: darken;
            opacity: 0;
            transition: opacity var(--logo-time) var(--easing);
        }
        &:hover::before { opacity: 0.9; }
    }
}


/** 
 * Background of theather,
 * generally a video clip 
 */
 .album-theater #screen {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0; left: 0;
    bottom:0; right: 0;
    transition: opacity var(--intro-time) var(--easing);
    transform: translate3d(0,0,0);
    will-change: opacity;
    pointer-events: all;
    opacity: 0;            
}
.album-theater #screen > #videoclip {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/**
 * Info screens (second page of album)
 */
.album-theater #info {
    width: 100%;
    height: 50%;
    position: relative;
    top: 12.5%;
    
    /*top: var(--viewport_height); left: 0;
    right: 0; bottom: calc( var(--viewport_height) * 2);*/

    transform: translate3d(0,0,0);
    perspective: var(--perspective);

    background-color: #dfd1b6;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;

    display: grid;
    grid-template-columns: repeat(22, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-template-areas: "head head head head head head head head head head head head head head head head head head head head head head"
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
". . aside aside aside aside aside aside aside . main main main main main main main main main main . ."
"foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot foot";
    grid-gap: 16px;

    display: var(--info_display);
}

.album-theater #info > #left {
    grid-area: aside;
    color: var(--cashmere);
    width: 80%;
    margin: 0 auto;
    /*background-color: #00ff00;*/
}

.album-theater #left .cover {
    display: flex;
    margin: 0 auto;
}
.album-theater .cover > img {
    max-width: 100%;
    width: 100%;
    box-shadow: 8px 12px 40px rgba(0, 0, 0, 0.3);
    height: 100%;
}

.album-theater  .players_links {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;
    margin-top: 4em;
    transform: scale(1.5);            
}
.album-theater  .players_links .player-icon {
    background-color: var( --color-primary );
}


.album-theater  .buy_link {
    padding: 8px;
    font-size: 1.25em;
    font-size: 1.25em;
    margin: 0 auto;
    width: 50%;
    display: block;
    text-decoration: none;
    border-radius: 4px;
    border: 0;
    background-color: var(--blue-white);
    color: var(--cashmere);            
}
.album-theater  .buy_link a { color: inherit; text-decoration: none; }

/**
 * Right info area
 */
.album-theater  #info > #right {
    grid-area: main;

    text-decoration: none;
    color: inherit;

    /*background-color: #0000ff;*/
}

.album-theater #right .title {
    background-color: rgba(226, 226, 226, 0.55098);
    border-radius: 4px;
    color: var(--bg);
    padding: var(--pad);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
    box-shadow: inset 0 0 0 1px hsla(0,0%,100%,.5);
    /* background-color: #f5f5f5; */
    border-bottom-color: transparent; 
}

.album-theater  #right .title > h1 { 
    margin: 0; 
    text-transform: uppercase; 
    font-size: 2em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 36px;
    line-height: 36px;
    transform: translate3d(0,-4px,0);
}
.album-theater  #right .title > h3 { margin: 0; font-weight: normal; }

.album-theater  #right .content {
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 4px;
    background-color: rgba(255,255,255,0.53);
    color: var(--black);
    font-style: normal;
    font-size: 1.25em;
    font-family: var(--font);
    opacity: 0.95;
}
.album-theater  #right .content > iframe { height: 100%; }

.album-theater  #right .content .ficha_tecnica {
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    font-size: 1.0rem;
    height: 100%;            
}
.album-theater  .ficha_tecnica > div {
    margin: 0;
    display: flex;
    text-align: left;
}
.album-theater  .ficha_tecnica > div > label {
    max-width: 40%;
    width: 40%;
    text-overflow: ellipsis;
    margin: 0;
    font-weight: bold;
}
.album-theater  .ficha_tecnica > div > p {
    margin: 0;
    width: 60%;
}

/*******************************************
     @END Album page
 *******************************************/


/**
 * Agenda Page 
 */

.page-content.agenda {

    & .md-section {
        position: relative;
        width: 100%;
        overflow: hidden;
        counter-reset: event_number; 
        font-size: 1.2rem;
        
        & ul { 
            list-style: none;
            margin: 0 auto;
            padding: 0;             
        }
        & .event-item {
            position: relative;
            padding: var(--pad) var(--pad-big);
            margin-right: 0;            
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            font-size: 1.2em;
            text-decoration: none;
            cursor: pointer;

            & .venue {
                width: 50%;
            }
            & .date {
                margin-left: 0;
                width: 20%;
                text-align: center;        
            }
            & .citycountry {
                width: 30%;
                text-align: left;
            }
    
            &:nth-child(even) {
                background-color: var(--color-primary);
            }
            &:hover {
                background-color: var(--fg);
                color: var(--bg);
            }

            &.is-free::before {
                content: ' ';
                background-repeat: no-repeat;
                background-image: url('/images/seta.svg');
                background-size: 16px 16px;
                width: 16px;
                height: 16px;
            }   

        }
    }
}

/**
* Contact Page 
*/
.page-content.contact {

    & .md-section {
        position: relative;
        width: 70%;
        margin: 0 auto;
        padding: var(--pad);

        font-size: 1.4rem;

        & .booking-info.card {
            width: 100%;
            height: auto;
            margin: 0 auto;
            padding: var(--pad);
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            &:hover {
                cursor: pointer;
                background-color: var(--fg);
                color: var(--bg);
            }

            & picture { flex: 0.1; }
            & .social-icon { width: 64px; height: 64px; margin: 0 auto;}
            & .email { flex: 0.2; text-align: center; }
            & .info { flex: 0.7; text-align: left; margin-block-end: 0; margin-block-start: 0; }
        }

        & .booking-info.card + .booking-info.card {
            margin-top: var(--pad);
        }

        & .collab {
            text-align: center;
        }
    }
}



.shadow {
    width: 100vw;
    z-index: 100;
    opacity: 0;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
    will-change: opacity; 

    background-color: rgba(255, 255, 255, 0.3);
    transition: opacity 0.750ms var(--easing);   
}



/**
 * Cellphones portrait
 */
@media (min-width: 320px) and (max-width: 425px) {
    /*
    body {
        position: absolute;
        width: 100%;
        overflow: hidden;
    }
    */

    /**
     * Header/Nav
     */
    header.header {
        padding: 0;
        display: block;
        top: 0px;

        & .wrapper {
            padding: 12px 12px;

            & .logo-container { 
                flex: 0.5;
                & .title { font-size: 18px; }
            }

            & .label-toggle {
                filter: invert(1);
            }
    
        }

    }
    /** When header active */
    /** Active offscreen nav menu, inverse of nav.menu width */
    #menu-toggle:checked ~ header.header {
        & > nav.menu {            
            transform: translateX(45vw);        
        }
    }


    header.header .wrapper .label-toggle { display: block; }  
    header.header > nav.menu { 
        will-change: transform, opacity;
        position: absolute;  
        display: block;
        top: 0px;
        left: 0vw;
        width: 55vw;
        height: 100vh;
        z-index: 1500;
        transform: translateX(100vw);
        transition: all 750ms var(--easing);
        background-color: var(--cashmere);

        & a { width: 100%; display: block; }
        & > ul { list-style: none; margin: 0; padding: 0; display: block; }
        & > ul > li { display: block; }
        & > ul > li:first-child { padding: 0; }
        & > ul > li:first-child > a { 
            padding: calc( var(--pad) * 1.7);
            border-bottom: 1px solid rgba(255,255,255,0.1);
        }

        & ul.sub-menu {
            display: block; 
            list-style: none; margin: 0; padding: 0;
            font-size: 0.9rem;
            text-align: left;             
        }
        & ul.sub-menu > li.menu-subheader { 
            display: block; 
            padding: var(--pad); 
            margin: 0;

            & a {
                font-size: inherit;
            }
        }

        & li.menu-header {
            padding: var(--pad) 0;
            margin-left: 0;
            color: #000;
            display: block;
            border-bottom: 1px solid rgba(0,0,0,0.1);

            &:last-child { border-bottom: 0; }

        }
    }

    /**
     * General styles
     */
    .album-theater #poster {
        width: 80%;
        height: 33.3%;
    }
    .album-theater #poster .logo:hover::before { display: none; }
    .album-theater .logo {
        width: 80%;
        margin: 0 auto;
    }
    .album-theater #info {
        display: flex;
        flex-direction: column;
        height: 66.6%;
        top:  0;
    }
    .album-theater #info #left {
        padding-top: 4em;
        padding-bottom: 4em;
        height: 40%;
    }
    .album-theater #info #right { 
        width: 80%;
        margin: 0 auto;
        height: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .album-theater #right .title {
        max-height: 30%;
        flex: 0.3;
        & h1 {
            font-size: 28px;
        }
    }
    .album-theater #right .content {
        height: 70%;
        flex: 0.7;
    }

    /**
     * Pages
     */
    body.page .page-content {

        padding: 0;

        & > .page-title:first-of-type {
            font-size: 5rem;
            padding-top: 64px;
            margin: 0 !important;
            margin-block-end: 0;
            margin-block-start: 0;
        }


        /** Agenda page **/
        &.agenda {
            & .md-section {
                font-size: 0.7rem;
                line-height: 1.2rem;
            }
        }

       /**
        * Contact Page 
        */
        &.contact {

            & .md-section {
                position: relative;
                width: 100%;
                font-size: 0.7rem;
                line-height: 1.2rem;

                & .booking-info.card {
                    width: 90%;
                    height: auto;
                    margin: 0 auto;
                    padding: calc( var(--pad) );
                    padding-top: calc( var(--pad) * 2 + 1.0rem);
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-around;
                    position: relative;
                    text-decoration: none;

                    &:hover {
                        cursor: pointer;
                        background-color: var(--fg);
                        color: var(--bg);
                    }

                    & .email { 
                        position: absolute; 
                        width: 100%;
                        top: 0; 
                        left: 0;
                        padding: calc(var(--pad) * 0.5); 
                        text-align: left; 
                        background-color: var(--cashmere);
                        margin-block-start: 0;
                        margin-block-end: 0;
                        color: var(--links);
                    }

                    & picture { flex: 0.1; }
                    & .social-icon { width: 32px; height: 32px; }
                    & .info { flex: 0.8; text-align: left; }
                }

                & .booking-info.card + .booking-info.card {
                    margin-top: var(--pad);
                }

                & .collab {
                    text-align: center;
                    font-size: 1.4em;
                }
            }
        }
        
    }



    /**
     * Footer
     */
    #footer {
        top: auto;
        bottom: 0;

        &.collapsed {
            bottom: 48px !important;
        }

        & .social_links {
            width: 80%;
        }            
    }

}

/**
 * Cellphone landscape or tablets
 */
 @media (min-width: 425px) and (orientation: portrait){
 }



