{{ define "above_fold" }}
    
    {{ $logo  := .Page.Resources.GetMatch "logo" }}
    {{ $cover := .Page.Resources.GetMatch "album_cover" }}
    {{ $album_url := (default "NO ALBUM_URL CONFIGURED" .Params.album_url) }}
    {{ $album_embed := (default "NO ALBUM_EMBED CONFIGURED" .Params.album_embed) }}

    {{ $info_enabled := .Params.info_enabled }}
    {{ $poster_enabled := (default false .Params.poster_enabled ) }}
    {{ $poster_mask := (default false .Params.poster_masked) }}
    {{ $poster_video := (default false .Params.poster_video ) }}

    {{ $fg := (default "#fff" .Params.colors.foreground ) }}
    {{ $bg := (default "#000" .Params.colors.background ) }}
    {{ $primary := (default "#fff" .Params.colors.primary ) }}

    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:description" content="{{ if .Description }}{{ plainify .Description }}{{ else }}{{if .IsPage}}{{ plainify .Summary }}{{ end }}{{ end }}" />
    <meta property="og:type" content="song">
    <meta property="og:image" content="{{ $cover.Permalink }}"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    <meta property="og:video" content="{{ .Params.video }}" />
    
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="{{ .Permalink }}"/>
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ end }}{{ end }}"/>
    {{/*<meta name="twitter:image:src" content="{{ $cover.Permalink }}"/>*/}}
    <meta name="twitter:domain" content="https://www.luizalian.com.br"/> 

    <meta name="poster_video" content="{{ $poster_video }}" /> 
    <meta name="album_url" content="{{ $album_url }}" />
    <meta name="album_embed" content="{{ $album_embed }}" />

    <link rel="stylesheet" href="/css/main.css" media="all">
    <style>
        :root {
            --fg: {{ $fg | safeHTML }};
            --bg: {{ $bg | safeHTML }};
            --color-primary: {{ $primary | safeHTML }};

            --viewport_height: 200%;
            --info_display: {{ cond $info_enabled "grid" "none" }};
        }

        .logo {
            background-image:  url('{{ $logo.Permalink}}');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            {{ if $poster_mask }}
                mix-blend-mode: multiply;
            {{ end }}            
        }

        #info {
            display: var(--info_display);
        }

        /**
         * Cellphones portrait
        */
        @media (min-width: 320px) and (max-width: 425px){
            :root {
                --viewport_height: 300%;
            }
        }
    </style>
{{ end }}

{{ define "header" }}
    {{ partial "header.html" . }}
{{ end }}

{{ define "main" }} 
    <div class="album-theater">
        {{ partial "videoclip.html" . }}
        {{ partial "album_info.html" . }}
    </div>
{{ end }}

{{ define "footer" }}
    {{ partial "footer" . }}
{{ end }}

{{ define "under_fold" }}
    <script src="https://www.youtube.com/iframe_api" defer></script>
    <script src="/js/album.js" defer></script>
    <script>
        console.log(`%c 
🌊 Built by vical.me
`, "font-size: 1.5em;");
        document.addEventListener('DOMContentLoaded', () => {            
            let player_embed_el = document.querySelector('meta[name="album_embed"]')
            let player_embed_url = player_embed_el.getAttribute('content')

            window.album = new window.Album(document, player_embed_url);
            window.cronometer.hook = gtag;
        });

        /*
        * HACK: Pre-Load youtube video, to avoid
        * a second between animation-out and video display.
        *  This should be in CLIP:enter, but let's do it preemptively
        */
        function onYouTubeIframeAPIReady( ) {
            let el = document.querySelector('meta[property="og:video"]')
            window.album.setClip( el.getAttribute('content') )

            if(window.requestIdleCallback)
                requestIdleCallback( window.album.loadClip.bind(window.album) );
            else   
                window.album.loadClip( )
            //window.album.loadClip( el.getAttribute('content') )
        }
    </script>
{{ end }}